<% include ./partials/header %>

<div class="ui container" id="cusomersDisplay">

  <table class="ui celled table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Status</th>
      <th>Date Joined</th>
      <th></th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% customers.forEach(function(customer) { %>
    <tr>
      <td><%= customer.cusFirstName %></td>
      <td><%= customer.cusLastName %></td>
      <td><%= customer.cusEmail %></td>
      <td><%= customer.cusAddress %></td>
      <td>Thumbs Up</td>
      <td><%= customer.time %></td>
      <td>
      <a href='/customer/<%= customer._id %>'>Details</a>
      </td>
      <td>
        <form id="delete" action="/customer/<%= customer._id %>?_method=DELETE" method="POST">
        <button class="circular ui icon button">
          <i class="icon ban"></i>
        </button
        </form>
      </td>
    </tr>
  <% }); %>
  </tbody>
  </table>
</div>
<% include ./partials/footer %>
